/* ==[Main rules]========================================================================================== */

:root {
	--button-bg: #e9e9ed;
	--button-bg-active: #acacac;
	--button-bg-hover: #f1f1f1;
	--code-bg: rgba(27,31,35,0.07);
	--code-color: #000;
	--description-color: #71819f;
	--fieldset-border: #9f9f9f;
	--filititle-color: #506a81;
	--focus: #4d87c4;
	--highlighted-bg: #d4daf0;
	--highlighted-border: #00f;
	--hr-bg: linear-gradient(90deg, #eee, #7a95c1, #eee);
	--html-bg: #eee;
	--html-color: #34343f;
	--inputs-bg: #fff;
	--inputs-border: 1px solid #808080;
	--inputs-color: #000;
	--link-color: #0f73c8;
	--link-button-bg: linear-gradient(to bottom, #c9d4e6, #577dae);
	--link-button-bg-active: #435e82;
	--link-button-bg-hover: #5f83bb;
	--link-button-color: #fff;
	--link-hover: #dd0000;
	--navigation-bg: linear-gradient(to top, #c1d3fb, #375a88);
	--navigation-link-border: #c0ccd7;
	--poster-opacity: 1;
	--postername-color: #438ad7;
	--pre-bg: rgba(255,255,255,0.4);
	--pre-color: inherit;
	--reply-bg: #ddd;
	--reply-border: #ccc;
	--table-border: #8a97a4;
	--table-th-bg: #b0e0e6;
}

html[data-theme="Dark"] {
	--button-bg: #2f3846;
	--button-bg-active: #16222d;
	--button-bg-hover: #33445e;
	--code-bg: rgba(255, 255, 255, 0.2);
	--code-color: #fff;
	--description-color: #a3c1fb;
	--fieldset-border: #62707b;
	--filititle-color: #eaba4b;
	--focus: #8173bf;
	--highlighted-bg: #2b2f40;
	--highlighted-border: #6464ff;
	--hr-bg: linear-gradient(90deg, #15202b, #607ba6, #15202b);
	--html-bg: #15202b;
	--html-color: #ccc;
	--inputs-bg: #16222d;
	--inputs-border: 1px solid #38444d;
	--inputs-color: #ccc;
	--link-color: #89c2ff;
	--link-button-bg: linear-gradient(to bottom, #596375, #153864);
	--link-button-bg-active: #223a57;
	--link-button-bg-hover: #45689f;
	--link-button-color: #e0e0e0;
	--link-hover: #ed88fb;
	--navigation-bg: linear-gradient(to bottom, #5070b5, #0f2037);
	--navigation-link-border: #002b60;
	--poster-opacity: .9;
	--postername-color: #71b6ff;
	--pre-bg: rgba(255,255,255,0.2);
	--pre-color: #fff;
	--reply-bg: #192734;
	--reply-border: #25323d;
	--table-border: #445766;
	--table-th-bg: #173051;
}

:focus-visible {
	outline: 2px solid var(--focus);
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover);
}

.abbrev, .omittedposts {
	color: #707070;
	margin-top: 6px;
}

body {
	margin: 0;
	text-align: center;
}

body, html {
	background: var(--html-bg);
	color:  var(--html-color);
	font: 14px Helvetica, Arial, sans-serif;
}

.description {
	margin: 7px 0;
	clear: both;
	text-align: center;
	font-size: 2em;
	line-height: 1em;
	color: var(--description-color);
	width: 100%;
}

hr {
	margin: 10px 0;
	clear: both;
	border: none;
	background-image: var(--hr-bg);
	height: 2px;
}

input[type="password"], input[type="text"], textarea {
	background-color: var(--inputs-bg);
	color: var(--inputs-color);
	border: var(--inputs-border);
	border-radius: 3px;
}

fieldset {
	border: 1px solid var(--fieldset-border);
}

.footer {
	font: 12px serif;
	clear: both;
	text-align: center;
}

.login {
	text-align: center;
}

.managebutton {
	margin: 0.2em;
}

.manageinfo {
	background: #00B930;
	text-align: center;
	padding: 2px;
	color: #fff;
	width: 100%;
}

.table {
	border-collapse: collapse;
}

.table > tbody > tr > td {
	padding: 1px 3px;
	border: 1px solid var(--table-border);
}

.table > tbody > tr > th {
	padding: 3px;
	background: var(--table-th-bg);
	border: 1px solid var(--table-border);
}

.userdelete {
	float: right;
	white-space: nowrap;
}

.wrapper {
	display: inline-block;
	width: calc(100% - 210px);
	max-width: 1224px;
	text-align: left;
}

/* ==[ Posts ]============================================================================================= */

.backlinks {
	font-size: 75%;
	font-style: italic;
}

body:not(.access-enabled) .button-manage {
	display: none;
}

.button-manage {
	margin-left: 4px;
}

.catalog-block {
	overflow: hidden;
	vertical-align: top;
	display: inline-block;
	max-width: 280px;
	width: 280px;
	max-height: 350px;
	height: 350px;
	padding-left: 3px;
	padding-right: 3px;
	text-align: center;
	margin: 3px;
	padding-top: 6px;
	background: var(--reply-bg);
	border: 1px solid var(--reply-border);
	border-radius: 8px;
}

code {
	padding: 0.2em 0.4em;
	margin: 0;
	background-color: var(--code-bg);
	color: var(--code-color);
	border-radius: 3px;
	font-size: 85%;
}

del {
	-moz-text-decoration-color: red;
	text-decoration-color: red;
}

#delform > table {
	margin-bottom: 3px;
}

.filesize {
	font-size: 80%;
}

.filetitle {
	background: inherit;
	font-size: 1.1em;
	color: var(--filititle-color);
	font-weight: bold;
}

.image-container {
	display: inline-block;
	vertical-align: top;
}

.image-container > .filesize {
	margin-left: 20px;
	display: block;
}

.message {
	margin: 1em 20px 5px 20px;
	line-height: 19px;
	word-break: break-word;
}

.oppost > .backlinks {
	margin: 10px 0 4px 20px;
}

.oppost > .filesize {
	margin-left: 20px;
	display: block;
}

.oppost .link-button, .reply .link-button {
	height: 14px;
	padding: 0 4px 2px 4px;
	vertical-align: 1px;
	margin-top: -1px;
}

.poster-country {
	height: 14px;
	vertical-align: -2px;
	opacity: var(--poster-opacity);
}

.postername {
	color: var(--postername-color);
	font: bold 13px Verdana, Arial, sans-serif;
}

.postername-admin {
	color: #ff5050;
}

.postername-mod {
	color: #a000a0;
}

.postertrip {
	color: #228854;
}

.posteruid {
	padding: 0 4px;
	border-radius: 7px;
	font: bold 13px Arial;
	opacity: var(--poster-opacity);
	cursor: pointer;
}

pre {
	padding: 5px 5px 4px 5px;
	margin: 3px 0;
	overflow-x: auto;
	max-width: 1150px;
	border: 1px dotted #808080;
	border-radius: 4px;
	background: var(--pre-bg);
	color: var(--pre-color);
	font-size: 85%;
	line-height: 1.45;
	clear: both;
}

pre + br {
	display: none;
}

.reflink {
	display: inline-flex;
	font-weight: bold;
	font-size: 13px;
}

.reflink a {
	color: inherit;
}

.reflink a:hover {
	color: #dd0000;
}

.reflink > img, .reflink > .like-container {
	margin-left: 4px;
}

.reply {
	background: var(--reply-bg);
	border: 1px solid var(--reply-border);
	max-width: calc(100vw - 255px);
	padding: 3px;
	border-radius: 8px;
}

.highlighted { /* important to be after .reply */
	border: 1px solid var(--highlighted-border);
	background-color: var(--highlighted-bg);
}

.reply > .backlinks {
	margin-top: 10px;
	padding: 4px 8px 0 8px;
	border-top: 1px solid #80808052;
}

.reply > .filesize {
	margin-left: 20px;
}

.reply > .message {
	min-width: 325px;
}

.sage::after {
	content: " sage";
	font-weight: bold;
	color: black;
}

.spoiler {
	background: #bbb;
	color: #bbb;
}

.spoiler:hover {
	color: #333;
}

.thumb {
	border: none;
	float: left;
	margin: 4px 20px;
}

.thumb + .message:not(:empty) {
	min-width: 450px;
}

.thumb-video {
	border-left: 5px dashed #555;
	border-right: 5px dashed #555;
	background-color: inherit;
	max-width: 230px;
	max-height: 230px;
}

.thumbnailmsg {
	font-size: small;
	color: #800000;
}

.underline {
	text-decoration: underline;
}

.unkfunc {
	background: inherit;
	color: #789922;
}

/* ==[ Postform ]========================================================================================== */

#captchaimage {
	display: block;
	margin: 5px 64px 0 64px;
	cursor: pointer;
}

#markup-bold {
	font-weight: bold;
}

.markup-button {
	width: 28px;
	padding: 1px 0;
	font-size: 12px;
	line-height: 13px;
}

#markup-italic {
	font-style: italic;
}

#markup-underline {
	text-decoration: underline;
}

#message {
	width: 98%;
	height: 200px;
}

.postarea {
	text-align: center;
}

.postblock {
	padding: 0;
}

#postform {
	display: inline-block;
}

.postform-table {
	border-spacing: 0 2px;
	margin: 0 auto;
	text-align: left;
}

.postform-input {
	width: 98%;
}

.rules {
	font: 10px sans-serif;
	padding-left: 5px;
}

.rules li {
	margin-left: 1em;
}

.rules ul {
	margin: 0;
	padding-left: 0;
}

/* ==[ Links and buttons ]================================================================================= */

button, input[type="submit"] {
	padding: 2px 4px;
	background-color: var(--button-bg);
	color: var(--inputs-color);
	border: var(--inputs-border);
	border-radius: 3px;
	cursor: pointer;
}

button:hover, input[type="submit"]:hover {
	background-color: var(--button-bg-hover);
}

button:active, input[type="submit"]:active {
	background-color: var(--button-bg-active);
}

.link-button {
	display: inline-block;
	padding: 2px 4px;
	min-width: 8px;
	background-image: var(--link-button-bg);
	color: var(--link-button-color) !important;
	border-radius: 3px;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
}

.link-button:hover {
	background: var(--link-button-bg-hover);
}

.link-button:active {
	background: var(--link-button-bg-active);
}

.navigation {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-image: var(--navigation-bg);
}

#navigation-bottom {
	margin-top: 8px;
}

.navigation-link {
	margin: -1px 0 0 -1px;
	padding: 2px 8px 4px 8px;
	border: 1px solid var(--navigation-link-border);
	color: var(--link-button-color) !important;
	font-size: 13px;
	font-weight: bold;
}

.navigation-link:hover {
	background: #5d7aa8;
}

.navigation-separator {
	flex-grow: 1;
}

.panel {
	text-align: center;
	clear: both;
}

#panel-top, #panel-adminbar {
	margin: 10px 0;
}

.select-style {
	background: none;
	font: bold 13px Helvetica, Arial, sans-serif;
	cursor: pointer;
}

/* ==[ Like post button ]================================================================================== */

.like-container {
	height: 16px;
	cursor: pointer;
}

.like-counter {
	vertical-align: top;
	color: #ff5b9c;
}

.like-disabled {
	color: #bac1c8;
}

.like-enabled {
	color: #ff8cb9;
}

.like-icon > svg {
	width: 12px;
	height: 12px;
	margin-top: 1px;
	fill: currentColor;
}

/* ==[ Mobile devices ]==================================================================================== */

@media only screen and (max-width: 770px) {
	div[id^="thumbfile"] > a {
		display: inline-block;
	}
	.navigation-separator {
		flex-grow: 0;
	}
	.message {
		min-width: auto !important;
	}
	.reply {
		max-width: 96vw;
	}
	.wrapper {
		display: block;
		width: auto;
	}
}

/* ==[ Dollchan Extension ]================================================================================ */

#de-main > hr {
	display: none;
}
