a {
	color: #0f73c8;
	text-decoration: none;
}

a:hover {
	color: #dd0000;
}

body {
	text-align: center;
}

body, html {
	background: #eee;
	color: #34343f;
	font: 14px Helvetica, Arial, sans-serif;
}

hr {
	margin: 10px;
	clear: both;
	border-top: 1px dashed #888;
	border-bottom: none;
	border-left: none;
	border-right: none;
}

.abbrev, .omittedposts {
	color: #707070;
	margin-top: 6px;
}

.adminbar {
	text-align: right;
	clear: both;
	float: right;
}

#ban-table {
	border-collapse: collapse;
}

#ban-table > tbody > tr > td {
	padding: 1px 3px;
	border: 1px solid black;
}

#ban-table > tbody > tr > th {
	padding: 3px;
	background: #b0e0e6;
	border: 1px solid black;
}

.footer {
	font: 12px serif;
	clear: both;
	text-align: center;
}

.login {
	text-align: center;
}

.logo {
	clear: both;
	text-align: center;
	font-size: 2em;
	line-height: 1em;
	color: #800000;
	width: 100%;
}

.managebutton {
	font-size: 15px;
	height: 28px;
	margin: 0.2em;
}

.manageinfo {
	background: #00B930;
	text-align: center;
	padding: 2px;
	color: #fff;
	width: 100%;
}

.userdelete {
	float: right;
	text-align: center;
	white-space: nowrap;
}

.wrapper {
	width: 70%;
	width: calc(100% - 210px);
	max-width: 1224px;
	text-align: left;
}

/* ==[ Posts ]============================================================================================= */

code {
	color: #000;
	padding: 0.2em 0.4em;
	margin: 0;
	background-color: rgba(27,31,35,0.07);
	border-radius: 3px;
	font-size: 85%;
}

del {
	-moz-text-decoration-color: red;
	text-decoration-color: red;
}

pre {
	padding: 5px 5px 4px 5px;
	margin: 3px 0;
	overflow-x: auto;
	max-width: 1150px;
	border: 1px dotted grey;
	border-radius: 4px;
	background: rgba(255,255,255,0.4);
	font-size: 85%;
	line-height: 1.45;
	clear: both;
}

pre + br {
	display: none;
}

video.thumb {
	border-left: 5px dashed #555;
	border-right: 5px dashed #555;
	background-color: inherit;
	max-width: 230px;
	max-height: 230px;
}

#delform > table {
	margin-bottom: 3px;
}

.filesize {
	font-size: 80%;
}

.filetitle {
	background: inherit;
	font-size: 1.1em;
	color: #506a81;
	font-weight: bold;
}

.image-container {
	display: inline-block;
	vertical-align: top;
}

.image-container > .filesize {
	margin-left: 20px;
	display: block;
}

.catalog-block {
	overflow: hidden;
	vertical-align: top;
	display: inline-block;
	max-width: 236px;
	width: 236px;
	max-height: 350px;
	height: 350px;
	text-align: center;
	margin: 3px;
	padding-top: 6px;
	background: #ddd;
	color: #34343f;
	border: 1px solid #ccc;
	padding-left: 3px;
	padding-right: 3px;
	border-radius: 8px;
}

.message {
	margin: 1em 20px;
	line-height: 19px;
}

.oppost > .filesize {
	margin-left: 20px;
	display: block;
}

.postername {
	color: #448bc6;
	font: bold 13px Verdana, Arial, sans-serif;
}

.postername-admin {
	color: #ff5050;
}

.postertrip {
	color: #228854;
}

.reflink {
	font-weight: bold;
}

.reflink a {
	color: inherit;
}

.reflink a:hover {
	color: #dd0000;
}

.reply {
	background: #ddd;
	color: #34343f;
	border: 1px solid #ccc;
	max-width: calc(100vw - 255px);
	padding: 3px;
	border-radius: 8px;
}

.reply > .filesize {
	margin-left: 20px;
}

.reply > .message {
	margin-bottom: 5px;
	min-width: 325px;
}

.reply > .reflink {
	font-size: 13px;
	margin-left: 4px;
}

.sage::after {
	content: " sage";
	font-weight: bold;
	color: black;
}

.spoiler {
	background: #bbb;
	color: #bbb;
}

.spoiler:hover {
	color: #333;
}

.thumb {
	border: none;
	float: left;
	margin: 4px 20px;
}

.thumb + .message:not(:empty) {
	min-width: 450px;
}

.thumbnailmsg {
	font-size: small;
	color: #800000;
}

.underline {
	text-decoration: underline;
}

.unkfunc {
	background: inherit;
	color: #789922;
}

/* ==[ Postform ]========================================================================================== */

#captchaimage {
	display: block;
	margin: 5px 64px 0 64px;
	cursor: pointer;
}

#markup-bold {
	font-weight: bold;
}

.markup-button {
	width: 28px;
	padding: 0 0;
	font-size: 12px;
	line-height: 13px;
}

#markup-italic {
	font-style: italic;
}

#markup-underline {
	text-decoration: underline;
}

#message {
	width: 298px;
	height: 100px;
}

.postarea {
	text-align: center;
}

.postblock {
	padding: 0;
}

#postform {
	display: inline-block;
}

.postform-table {
	border-spacing: 0 2px;
	margin: 0 auto;
	text-align: left;
}

.postform-table > tbody > tr > td > input[maxlength="75"]:not(:last-child) {
	width: 230px;
}

.postform-input {
	width: 298px;
}

.rules {
	font: 10px sans-serif;
	padding-left: 5px;
}

.rules li {
	margin-left: 1em;
}

.rules ul {
	margin: 0;
	padding-left: 0;
}

/* ==[ Aside buttons ]===================================================================================== */

.aside {
	width: 40px;
}

.aside, .wrapper {
	display: inline-block;
	vertical-align: top;
	margin: 0 20px;
}

.aside div {
	position: fixed;
	width: inherit;
}

.aside-bottom {
	bottom: 25px;
}

.aside-btn {
	display: block;
	width: 40px;
	height: 40px;
	margin-bottom: 4px;
	border-radius: 5px;
	background-color: #ccc;
	color: #606060;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

.aside-top {
	margin-top: 20px;
}

.aside-btn:hover {
	background-color: #bdc5d4;
	color: #367cb9;
}

.aside-btn > svg {
	width: 24px;
	height: 24px;
	margin: 8px;
	fill: currentColor;
}

.aside-btn-board {
	font-weight: bold;
	font-size: 18px;
	line-height: 38px;
}

.aside-btn-indent {
	margin-bottom: 40px;
}

#aside-btn-tobottom > svg {
	transform: rotate(-90deg);
}

#aside-btn-totop > svg {
	transform: rotate(90deg);
}

/* ==[ Like post button ]================================================================================== */

.like-container {
	height: 16px;
	display: inline-block;
	vertical-align: -1px;
	margin-left: 3px;
	cursor: pointer;
}

.like-counter {
	vertical-align: 1px;
	color: #619cc8;
	font: 14px tahoma;
}

.like-disabled {
	color: #bac1c8;
}

.like-enabled {
	color: #ff8cb9;
}

.like-icon > svg {
	width: 12px;
	height: 12px;
	fill: currentColor;
}

/* ==[ Mobile devices ]==================================================================================== */

@media only screen and (max-width: 770px) {
	div[id^="thumbfile"] > a {
		display: inline-block;
	}
	.aside, .wrapper {
		width: auto;
		margin: 0;
	}
	.aside div {
		position: static;
		display: inline-block;
	}
	.aside-btn {
		display: inline-block;
	}
	.aside-btn-board {
		vertical-align: top;
	}
	.aside-btn-indent {
		margin-bottom: 0;
	}
	.aside-right {
		margin-top: 20px;
	}
	.aside-top {
		margin-top: 0;
	}
	.message {
		min-width: auto !important;
	}
	.reply {
		max-width: 90vw;
	}
	.wrapper {
		display:block;
	}
}

/* ==[ Dollchan Extension ]================================================================================ */

#de-main > hr {
	display: none;
}
